In [1]:
from sqlalchemy import create_engine
import pandas as pd
import config
import pymysql

eng = create_engine('sqlite:///data/boardgames.db', echo=False)

In [2]:
data = pd.read_sql_query("SELECT * FROM boardgames", eng).drop(['index'], axis=1)

In [3]:

conn = pymysql.connect(host=config.host,
                       port=config.port,
                       user=config.user, 
                       passwd=config.passw,  
                       db=config.database,
                       )


# conn.close()

In [7]:
data.to_sql(name='boardgames', con=conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting